header {
    margin-bottom: 60px;
    text-align: center;
    font-size: 30px;
}

body {
    margin:0 auto;
    height: 700px;
    width: 700px;
    background-color: whitesmoke;
    
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: whi;
}

 main > div {
    margin: 12px;
    width: 300px;
    height: 450px;
    border:10px solid white;
    
}

.selector {
    position: relative;
}
.selector:nth-child(1) {
    background-color: tomato;
}
.selector:nth-child(2) {
    background-color: teal;
}
.selector:nth-child(3) {
    background-color: burlywood;
}
.selector:nth-child(4) {
    background-color: thistle;
}

.child-selector {
    background-color: white;
    position:absolute;
    top:25px;
    width: 40vh;
    height: 20vh;
    font-size: 20px;
    font-weight: bold;
}
.child-selector > h2 {
    margin-bottom: 40px;
}

/* body {
  height:100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 50px;
}

section {
  width:50%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.color {
  width: 48%;
  position: relative;
  margin-bottom: 20px;
}

.color:first-child .color__bg {
  background-color: tomato;
}

.color:nth-child(2) .color__bg {
  background-color: teal;
}

.color:nth-child(3) .color__bg {
  background-color: burlywood;
}

.color:last-child .color__bg {
  background-color:thistle;
}

.color__bg {
  height: 300px;
  border:5px solid white;
}

.color__info {
  position: absolute;
  width:100%;
  background-color:white;
  top:20px;
  padding:0px 10px;
  box-sizing: border-box;
}*/