.nav {
    background-color: #f9f9fa;;
    padding: 20px 50px;
    
    /* padding사이즈를 늘리더라도 box사이즈는 신경쓰지마 그대로 내비둬! (변경하지마!) */
    box-sizing: border-box;

    border-top: 1px solid rgba(121,121,121,0.3);
    position:fixed;
    bottom: 0;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color : #2e363e;
    position: relative;
}

.nav__notification {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav__dot {
    background-color: tomato;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    position:absolute;
    right:-10px;
    bottom: 30px;
}